{% extends 'base.html.twig' %}


{% block title %}Episode
	{{season.number}}
{% endblock %}


{% block body %}

<ul>

	<li>
		{{ episode.title }}
	</li>
	<Li>{{ episode.synopsis }}</Li>

	{% if app.user and is_granted("ROLE_CONTRIBUTOR") %}
		
		<h1>Ajouter un commentaire :</h1>
        	{% for comment in episode.comments %}

				<li>Commentaire :{{ comment.comment }}</br></li>
				<li>Note :{{ comment.rate }}</br></li>
		        <li>commentaire de :{{ comment.author.username }}</br></li>
		      {% if is_granted("ROLE_ADMIN") or app.user is same as(comment.author) %}
       			{% include "comment/_delete_form.html.twig" %}
        	{% endif %}

			{% endfor %}

		{% if app.user %}
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<button class="btn btn-primary">valider</button>
			{{ form_end(form) }}
		

		{% endif %}

	{% endif %}
	
{% endblock %}

