{% extends 'base.html.twig' %}


{% block title %}Episode
	{{season.number}}
{% endblock %}


{% block body %}

	<ul>

		<li>
			{{ episode.title }}
		</li>
		<Li>{{ episode.synopsis }}</Li>

		{% if app.user %}
			<li>
				Ajouter un commentaire :

				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button class="btn btn-primary">valider</button>
				{{ form_end(form) }}
			{% endif %}
	</ul>
{% endblock %}
