{% extends 'base.html.twig' %}


{% block title %}Saison {{season.number}}{% endblock %}


{% block body %}

    <div class="media">

        <h1>{{ program.title }}</h1>

        <div class="media-body">
        <h1 class="mt-0">Saison :{{ season.number }}</h1> 
            <p> La saison {{ season.number }} de la catégorie {{program.category.name }} a été lancé le {{ season.year}} </p> 
            
            <p>{{ program.summary }}  </p>



        </div>

             {% for episode in season.episodes %}

            <h1 class="mt-0">Episode :{{ episode.number }}</h1>
            <a href="{{ path('program_episode_show',{programId: program.slug, seasonId: season.id, episodeId: episode.slug }) }}"> en savoir plus </a>

    

            {% else %}

       Pas d'episode disponible.

    {% endfor %}

        </div>

    </div>


    <a href="{{ path('program_index') }}">

        Retour à la liste des programmes

    </a>

{% endblock %}