{% extends 'base.html.twig' %}


{% block title %}Série #{{ program.id }}
{% endblock %}


{% block body %}

 <h1>{{ program.title }}</h1>
	<div class="card" style="width: 30rem;">
		<img src="{{program.poster}}" alt="{{ program.title }} poster" class="card-img-top">
		<div class="card-body">
			<p class="card-text">{{ program.summary }}</p>
			<h2 class="card-text">
				Catégorie :
				{{ program.category.name  }}</h2>
		</div>
		
		{% for season in program.seasons %}
			<ul class="list-group list-group-flush">
				<h2>Saison
					{{ season.number }}</h2>
				<p>Année :
					{{ season.year }}</p>
				<p>Description :
					{{season.description }}</p>
				<li>
					<a href="{{ path('program_season_show',{programId: program.id, seasonId: season.id }) }}" class=" btn btn-light p-2 px-4">Voir la fiche</a>
				</li>
			</ul>

		{% else %}

			Pas de saison disponible.

		{% endfor %}

  <h2 class="card-title">Les acteurs</h2>
    {% for actor in program.actors %}


  <div class="card-body">
  
 <a href="{{ path("actor_show", { id: actor.id }) }}" >{{ loop.index }} -  {{ actor.name }}</a>
  </div>

    {% else %}

        Aucun acteur pour cette série.

    {% endfor %}

		<div class="card-body">

			<a href="{{ path('program_index') }}" class="btn btn-primary">Retour à la liste des programmes</a>

		</div>
	</div>


{% endblock %}
